<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calculadoraIMC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEC0BFA41CA75B1F00CD5DA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC0BFB81CA75B2100CD5DA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC0BFC31CA75B2100CD5DA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
